:root {
  --color-all: #222222;
  --color-growth: #2bb673;
  --color-stability: #3ab0d9;
  --color-calendar-range: #dcf1f8;
  --color-autonomy: #f5a623;
  --color-connection: #ff6f91;
  --color-recognition: #ffc845;
  --color-fun: #ff8a3d;
  --color-efficiency: #17a398;
  --color-meaning: #8b5fbf;
  --color-responsibility: #3e2723;
}
